{%extends 'base.html'%}
{% block title %}SignUp{% endblock %}
{%block content%}
  <div class="container">

    <h2 class="join-message fw-bold fs-1 pt-4">Join Foodie Today!</h2>
    <div class="mb-3 row">
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}
      
            {% for field in form if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              <br>
              {{ field(placeholder=field.label.text, class=" form-control") }}
            {% endfor %}
            <br>
            <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
  </div>
{%endblock%}